* {
    margin: 0;
    padding: 0;
}

.heroHeader {
    background-image: url('../img/lego.jpg');
    background-repeat: repeat;
    height: 90vh;
}

.menu {
    background-color: rgb(46, 44, 44);
    height: 80px;
}

h1 {
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 85px;
    margin-left: 40vw;
}