*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Configurando minha linha do sistema de grid*/
.row {
    max-width: 1140px; /*Define o tamanho máximo da linha*/
    margin: 0 auto 0 auto; /*Define que o container vai ficar centralizado*/
    /*margin: 0 auto; maneira alternativa para a linha de cima*/
 }

html {
    background-color: #fff; /*Define a cor do fundo*/
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif; /*a terceira opção é qualquer fonte daquela família, note que o nome da família não esta entre aspas.*/
    font-weight: 300; /*de acordo com a fonte que importamos*/
    font-size: 20px;
    text-rendering: optimizeLegibility; /*otimiza a renderização da fonte para letura, tendo uma melhor qualidade*/
}

.heroHeader {
    background-image: url('../img/lego.jpg');
    background-repeat: repeat;
    height: 90vh;
}

.menu {
    background-color: rgb(46, 44, 44);
    height: 80px;
}

h1 {
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 85px;
    margin-left: 40vw;
}